//- File which is rendered for signing up a user

include mixins.pug

doctype html
html
  +pageHead("Nightlife signup")

  body
    +layoutBase()
      +appTitle()
      +topMenu("signup")

    +layoutBase()
      p After registration, you can attend a club or restaurant.

      h2 Signup

      form(method="POST" action="/forms/signup")

        div.form-group
          label.label.label-default(for="usernameField") Username
          input#usernameField.form-control(
            name="username" type="text"
            placeholder="Username" pattern="^[^<>/]+$"
            title="No <,/ or > in username")

        div.form-group
          label.label.label-default(for="passwordField") Password
          input#passwordField.form-control(
            name="password" type="password"
            placeholder="Password" required="required"
            title="Cannot be empty")

        button#signup-btn.btn.btn-voting(type="submit") Signup!

      p 
        | If you already have an account, click 
        a(href="/login") here 
        | to login.

    +layoutBase()
      +appFooter()
